/* main location map */
#myMap {
	margin-top: 15px;
	background-image: url(../img/map.jpeg);
	width: 1300px;
	height: 918px;
	margin-left: 40px;
	position: absolute;
	z-index: 9999;
}

.map-btn {
	background-color: #dee37f;
	border-color: #cad244;
	border-radius: 5px;
	position: absolute;
	z-index: 1;
}

/* info in detail */
.loc_info_total {
	padding-top: 15px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

.loc_img {
	border-radius: 8px;
}

h3 {
	font-weight: 80%;
	color: #888;
}
