/* header */
.navbar-brand {
	background-image: url(../img/logo.png);
	width: 80px;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

/* button */
.btn-primary {
	background-color: #cad244;
	border-color: #cac844;
}

.btn-primary:hover {
	background-color: #AAAA55;
	border-color: #cac844;
}

/* check error */
.mess-check {
 color: #ff0000;
}

.mess-check-total {
 color: #ff0000;
 text-align: center;
}

/* footer */
.footer {
	text-align: center;
	margin-top: 80px;
	color: #999;
	padding: 80px 0;
}

/* toggle */
#toggle-checkbox:checked ~ div {
	display: block !important;
}

#toggle-label {
	display: inline-block;
	position: absolute;
	right: 15px;
	top: 13px;
	font-size: 16px;
	font-weight: normal;
	color: #666;
	display: none;
}

#toggle-label:hover {
	color: #333;
}

.form-group .col-md-6 {
	padding: 0;
	margin-bottom: 16px;
}

.swiper-container {
    width: 1000px;
    height: 400px;
    margin-bottom: 50px;
}

.swiper-wrapper {
	text-align: center;
}

